www.{$DOMAIN:localhost} {
    redir https://{$DOMAIN:localhost}{uri} permanent
}

www.impr.in {
    redir https://impr.in{uri} permanent
}

impr.in {
    rewrite * /go{uri}
    reverse_proxy app:3000 {
        lb_try_duration 5s
        lb_try_interval 250ms
        transport http {
            dial_timeout 5s
            keepalive 30s
            keepalive_idle_conns 10
        }
    }
}

analytics.{$DOMAIN:localhost} {
    reverse_proxy umami:3000
}

{$DOMAIN:localhost} {
    handle /uploads/* {
        root * /srv
        file_server
    }

    handle_path /umami/* {
        reverse_proxy umami:3000
    }

    reverse_proxy app:3000 {
        lb_try_duration 5s
        lb_try_interval 250ms
        transport http {
            dial_timeout 5s
            keepalive 30s
            keepalive_idle_conns 10
        }
    }

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }

    encode gzip zstd

    log {
        output file /data/access.log {
            roll_size 10mb
            roll_keep 5
        }
    }
}
